<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Semester_MS.Properties.Settings.gpgcConnectionString" connectionString="Server=DESKTOP-0EGE15A; Initial Catalog = gpgc; Integrated Security = True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
